{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'main/package/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/user.css' %}">
    <script defer type="module" src="{% static 'main/js/account.js' %}"></script>
    <title>{{title}}</title>
</head>
<body>
    <header class="header">
        <div class="header__container container">
            <a href="{% url 'main' %}" class="header__backref"></a>
            <a href="{% url 'main' %}" class="header__logoref"></a>
        </div>
        
    </header>
    <section class="account">
        <div class="account__container container">
            <div class="account__user">
                <p class="account__user-title reset-text">{{user.first_name}}</p>
                <p class="account__user-phone reset-text">{{phone}}</p>
                <div class="account__client-card">
                    <div class="account__client-card-top">
                        <p class="account__client-card-text">Карта клиента</p>
                        <button class="account__client-card-annotation reset-button"></button>
                    </div>
                    <p class="account__client-card-text">Скидка 10%</p>
                </div>
                <div class="account__help-block">
                    <p class="account__help-block-text">Нужна помощь?</p>
                    <p class="account__help-block-title">Служба поддержки 24/7</p>
                </div>
                <p class="account__support-phone reset-text">+7 928 816 74 47 </p>

                <a href="{% url 'logout' %}" class="account__logout">Выйти из профиля</a>
            </div>
            <div class="account__orders">
                <p class="account__orders-title reset-text">Мои заказы</p>
                <div class="account__orders-switchers">
                    <button id="switch-1" class="account__orders-switchers-button active-orders-button switch-button--active reset-button">Активные</button>
                    <button id="switch-2" class="account__orders-switchers-button deactive-orders-button reset-button">Завершенные</button>
                </div>
                <div class="account__orders-switchers-content">
                    <div id="switch-block-1" class="account__orders-switch-block switch-block--active active-orders">
                        {% if active_orders %}
                            <ul class="account__orders-list">
                                {% for order in active_orders %}
                                    <li class="account__orders-list-item">
                                        <div class="account__order-card">
                                            <div class="account__order-card-imgs">
                                                {% if order.bouquet.photos.all %}
                                                <div class="account__order-card-imgs-swiper order-swiper">
                                                    <div class="account__order-card-wrapper swiper-wrapper">
                                                        {% for photo in order.bouquet.photos.all %}
                                                            <div class="account__order-card-slide swiper-slide">
                                                                <img src="{{photo.image.url}}" alt="" class="account__order-card-photo">
                                                            </div>
                                                        {% endfor %}

                                                    </div>

                                                </div>
                                                {% else %}
                                                    <img src="{% static 'user/img/default.jpg' %}" alt="" class="account__order-card-photo">
                                                {% endif %}
                                            </div>
                                            <div class="account__order-card-description">
                                                <p class="account__order-status account-card-text">Статус заказа: {{order.status}}</p>
                                                <p class="account__order-address-title account-card-text"> Адрес доставки:</p>
                                                <p class="account__order-address account-card-text"> {{order.address}}</p>

                                                <p class="account__order-date-title account-card-text">Дата и время доставки</p>
                                                <p class="account__order-date account-card-text"> {{order.expected_delivery_time}}</p>
                                                
                                                <p class="account__order-price">Сумма заказа: {{order.price}}</p>
                                            </div>
                                        </div>
                                        <div class="account__orders-list-item-buttons">
                                            <div class="account__orders-list-item-buttons-left">
                                               <button class="account__order-card-payment reset-button">Оплатить заказ</button> 
                                            </div>
                                            
                                            <div class="account__orders-list-item-buttons-right">
                                                <a href="" class="account__order-card-florist reset-link">Чат с флористом</a>
                                                <button class="account__order-card-cancel reset-button">Отменить заказ</button>
                                            </div>
                                        </div>
                                        
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="account__orders-switch-title reset-text">Активных заказов нет</p>
                        {% endif %}
                        
                    </div>
                    
                    <div id="switch-block-2" class="account__orders-switch-block">
                        {% if complete_orders %}
                            <ul class="account__orders-list deactive--orders-list">
                                {% for order in complete_orders %}
                                <li class="account__orders-list-item">
                                    <div class="account__order-card">
                                        <div class="account__order-card-imgs order-swiper">
                                            <div class="account__order-card-wrapper swiper-wrapper">
                                                {% if order.bouquet.photos.all %}
                                                    {% for photo in order.bouquet.photos.all %}
                                                        <div class="account__order-card-slide swiper-slide">
                                                            <img src="{{photo.url}}" alt="" class="account__order-card-photo">
                                                        </div>
                                                    {% endfor %}
                                                    
                                                {% else %}
                                                    <img src="{% static 'user/img/default.jpg' %}" alt="" class="account__order-card-photo">
                                                {%  endif %}
                                            </div>
                                    
                                        </div>
                                        <div class="account__order-card-description">
                                            <p class="account__order-price">Доставлен <br> {{order.expected_delivery_time}}</p>
                                        </div>
                                    </div>
                                </li>
                                
                                {% endfor %}
                            </ul>
                            
                        {% else %}
                            <p class="account__orders-switch-title reset-text">У вас еще нет заказов</p>
                        {% endif %}
                    </div>
                </div>

                
            
            </div>
        </div>
    </section>
        
</body>
</html>