body {
    font-family: 'Grtsk Peta', sans-serif;
}

.container {
    max-width: 1064px;
    padding: 0 20px;
}


.header {
    background-color: #7474C1;
    padding-block: 20px;
    margin-bottom: 50px;
}

.header__container {
    position: relative;
}


.header__backref {
    background-image: url('../img/next.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    left: 20px;
}

.header__logoref {
    display: block;
    margin: 0 auto;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    background-size: contain;
    background-position: center center;
}


.account__container {
    display: flex;
}

.account__user {
    width: 400px;
    margin-right: 20px; 
}

.account__user-title {
    display: flex;
    background-image: url('../img/user.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: left center;
    height: 50px;
    padding-left: 70px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.account__user-phone {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

.account__client-card {
    padding: 20px;
    width: 100%;
    height: 200px;
    background-color: rgba(167, 164, 224, 0.71);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 30px;
}

.account__client-card-text {
    font-size: 20px;
}

.account__client-card-annotation {
    width: 24px;
    height: 24px;
    background-image: url('../img/info.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.account__client-card-top {
    display: flex;
    justify-content: space-between;
}

.account__help-block {
    display: flex;
    flex-direction: column;
    padding-left: 84px;
    background-image: url('../img/support.png');
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 64px;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.account__help-block-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.account__help-block-title {
    font-weight: 400;
    font-size: 24px;
}

.account__support-phone {
    font-size: 22px;
    margin-bottom: 60px;
}

.account__logout {
    display: flex;
    font-size: 24px;
    height: 30px;
    background-image: url('../img/logout.png');
    background-repeat: no-repeat;
    background-position: right center;

}

.account__orders-title {
    padding-left: 30px;
    font-size: 32px;
    padding-bottom: 30px;
}

.account__orders-switchers {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.account__orders-switch-block {
    display: none;
    transform: scale(0.9);
    opacity: 0;
    transition: transform 150ms ease-in-out,
                opacity 150ms ease-in-out;
}

.account__orders-switchers-button {
    display: flex;
    border: 1px solid #7474C1;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 24px;
    transition: background-color 300ms ease-in-out;
}

.switch-block--active {
    transform: scale(1);
    opacity: 1;
}

.active-orders-button {
    border-radius: 10px 0 0 10px;
}

.active-orders {
    display: block;
}

.deactive-orders-button {
    border-radius: 0 10px 10px 0;
}

.account__orders-switchers-content {
    min-height: 500px;
    max-height: 750px;
    overflow-y: scroll;
    border-radius: 0 0 10px 10px;
}

.switch-button--active {
    background-color: #7474C1;
    color: #fff;
}

.account__orders {
    width: calc(1024px - 420px);
}

.account__orders-switch-title {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.account__orders-list-item {
    display: flex;
    flex-direction: column;
}

.account__order-card-photo {
    width: 230px;
    height: 250px;
}

.account__orders-list-item {
    padding: 10px;
}

.account__order-card {
    display: flex;
}

.account__order-card-description {
    padding-top: 30px;
    padding-left: 20px;
    width: calc(100% - 230px);
}

.account__order-card-payment {
    margin: 0 auto;
    background-color: rgba(191, 204, 128, 1);
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.account__order-status {
    margin-bottom: 30px;
}

.account__order-address {
    margin-bottom: 30px;
}

.account__order-date {
    margin-bottom: 30px;
}

.account__order-price {
    font-size: 22px;
    text-align: center;
    width: 100%;
}

.account__orders-list-item-buttons {
    display: flex;
    width: 100%;
}

.account__orders-list-item-buttons-left {
    width: 230px;
    display: flex;
    align-items: center;
}

.account__orders-list-item-buttons-right {
    width: calc(100% - 230px);
}

.account__orders-list-item-buttons-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account__order-card-florist {
    width: 200px;
    height: 35px;
    background-color: #7474C1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.account__order-card-cancel {
    width: 200px;
    height: 35px;
    border: 1px solid #7474C1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.account__order-card-imgs {
    width: 230px;
    height: 250px;
    overflow: hidden;
}

.account__order-card-photo {
    object-fit: cover;
}

/*-= INFO =-*/

.info__title {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    width: 100%;
}

.info__text {
    font-size: 17px;

}

.info__text:not(:last-of-type) {
    margin-bottom: 30px;
}