@media (max-width: 1024px) {
    
    .detail__content-photos {
        width: calc(430 / 1024 * 100vw);
        height: calc(480 / 1024 * 100vw);
    }
}

@media (max-width: 768px) {
    .detail__content-photos {
        width: 45vw;
        height: calc(480 / 430 * 50vw);
    }

    .detail__description {
        width: 55%;
    }
}

@media (max-width: 694px) {
    .detail__content {
        flex-direction: column;
    }

    .detail__description-hidden {
        display: flex;
    }

    .detail__content-photos {
        width: 80vw;
        height: calc(480 / 430 * 80vw);
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .detail__description {
        display: none;
    }

    .catalog__form-block-title {
        font-size: 18px;
    }

    .catalog__form-block-list {
        gap: 15px;
    }
    
    .catalog__form-checkbox-block {
        padding: 8px 15px;
        padding-left: 5px;
    }

    .catalog__form-checkbox-block-color {
        width: 15px;
        height: 15px;
    }

    .catalog__form-checkbox-block-image {
        width: 150px;
        height: 150px;
        margin-bottom: 15px;
    }

    .checkbox-block-with-img {
        padding: 15px;
        max-width: 190px;
    }

    .catalog__form-block-subtitle {
        font-size: 16px;
    }

    .catalog__form-checkbox-block {
        border-radius: 15px;
    }

    .catalog__form-block-title {
        font-size: 16px;
    }

    .catalog__form-block-list {
        gap: 10px;
    }

    .catalog__form-checkbox-block-name {
        font-size: 14px;
    }

    .detail__head {
        margin-bottom: 40px;
    }

    .catalog__form-checkbox-block-image {
        width: 100px;
        height: 100px;
    }

    .checkbox-block-with-img {
        padding: 10px;
        max-width: 120px;
        border-radius: 10px;
    }

    .catalog__form-block-subtitle {
        font-size: 14px;
    }

    .catalog__form-input::placeholder {
        font-size: 14px;
    }

    .detail__description-title {
        margin-bottom: 0px;
    }

    .detail__form-label {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {

    .catalog__container {
        padding: 0;
    }

    .detail__content {
        padding: 0;
    }

    .detail__description-hidden {
        padding-inline: 20px;
    }

    .detail__content-photos {
        width: 100%;
        height: calc(480 / 430 * 100vw);
    }

    .detail__description-hidden-price {
        font-size: 30px;
        padding-left: 0px;
    }

    .detail__description-hidden-name {
        font-size: 20px;
        padding-left: 0px;
    }
}

@media (max-width: 426px) {
    .catalog__button {
        width: 100%;
    }

    .detail__description-icon-list-item-title {
        font-size: 15px;
    }

    .detail__description-title {
        font-size: 18px;
    }
} 